body, html {
    background-color: rgb(41, 39, 39);
    color: white;
}

header h1 {
    text-align: center;
    font-size: 50px;
}

#about-social {
    display: flex;
}

article h2 {
    font-size: 50px;
}

imgBanner {
    width: 100%;
    align-items: stretch;
}

/* style for list */
ul li {
    list-style: circle inside none;
}

ol li {
    list-style: number inside;
}


/* link color */
a:link {
    color: rgb(255, 238, 0);
  }

a:visited {
    color: coral;
}

